<!doctype html>
<html lang="en">

{{ template "header" . }}
<body>
   <!-- ***** Preloader Start ***** -->
   <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
         <span class="dot"></span>
         <div class="dots">
            <span></span>
            <span></span>
            <span></span>
         </div>
      </div>
   </div>
   <!-- ***** Preloader End ***** -->

   <!-----------------Start-404-error-page----------------->

   <section class="error" id="page-error">
      <div class="container">
         <div class="page-img text-center">
            <img src="https://cdn.shuqin.cc/shuqin/static/img/404.jpg" alt="">
         </div>
         <div class="col-12">
            <div class="error-content text-center">
               <h2>Page Not Found</h2>
               <p class="mt-3">The page you are looking for might have been removed had its name changed or is
                  temporarily unavailable. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos atque
                  necessitatibus a quos! Explicabo vero, delectus exercitationem voluptatum tempora quidem asperiores ex
                  eum illo reiciendis suscipit cupiditate modi odio magnam! </p>
               <div class="default-btn-one btn-lg btn-info text-center">
                  <a href="index.html">Go To Home</a>
               </div>
            </div>
         </div>
      </div>
   </section>


   <!-----------------End-404-error-page----------------->


   <!-- jQuery Min JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.min.js"></script>
   <!-- Popper Min JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/popper.min.js"></script>
   <!-- Bootstrap Min JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/bootstrap.min.js"></script>
   <!-- MeanMenu JS  -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.meanmenu.js"></script>
   <!-- Appear Min JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.appear.min.js"></script>
   <!-- Odometer Min JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/odometer.min.js"></script>
   <!-- Owl Carousel Min JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/owl.carousel.min.js"></script>
   <!-- Mixitup Min JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.mixitup.min.js"></script>
   <!-- WOW Min JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/wow.min.js"></script>
   <!-- Contact Form Validation -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/contact-validation.js"></script>
   <!-- Parallax Min JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/parallax.min.js"></script>
   <!-- Main JS -->
   <script src="https://cdn.shuqin.cc/shuqin/static/js/main.js"></script>
</body>

</html>