<!doctype html>
<html lang="en">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <!-- Required meta tags -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap Min CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/bootstrap.min.css">
   <!-- Animate Min CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/animate.min.css">
   <!-- FlatIcon CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/flaticon.css">
   <!-- Odometer Min CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/odometer.min.css">
   <!-- Nice Select CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/nice-select.css">
   <!-- MeanMenu CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/meanmenu.css">
   <!-- Owl Carousel Min CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/owl.carousel.min.css">
   <!-- Font Awesome Min CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/fontawesome.min.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="https://cdn.shuqin.cc/shuqin/static/css/responsive.css">
   <!--Title-->
   <title>TechPart - IT Solutions & Business Services Website Template</title>
   <link rel="icon" type="image/png" href="https://cdn.shuqin.cc/shuqin/static/img/favicon.png">
</head>

<body>
   <!-- ***** Preloader Start ***** -->
   <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
         <span class="dot"></span>
         <div class="dots">
            <span></span>
            <span></span>
            <span></span>
         </div>
      </div>
   </div>
   <!-- ***** Preloader End ***** -->
   <!------------Start-coming-son-section---------------->
   <div id="coming-soon" style="background-image:url('https://cdn.shuqin.cc/shuqin/static/img/hero-2.jpg'); width: 100%;">
      <div class="container">
         <div class="row">
            <div class="content text-center">
               <h1>Our website is Coming Soon</h1>
               <p>Before we jump into our list of coming soon page examples, let’s take a quick look at why you should
                  create one of these for your own website launch.</p>
               <div class="contact-form">
                  <input type="email" name="email" id="email" class="email-input" placeholder="Enter your email"
                     data-dashlane-rid="7940df2bcb58d548" data-form-type="email" data-kwimpalastatus="alive"
                     data-kwimpalaid="1645183883283-0">
                  <a href="coming-soon.html"><button type="submit" class="submit-btn"
                        data-dashlane-rid="844cbb4f3dfb599d" data-form-type="action,subscribe"
                        data-dashlane-label="true">Submit</button></a>
               </div>
            </div>

            <div class="wrap">
               <div class="countdown">
                  <div class="container">
                     <div class="row">
                        <!---------Single-item--------->
                        <div class="col-lg-4 col-md-4 col-sm-12">
                           <div class="bloc-time hours" data-init-value="24">
                              <span class="count-title">Hours</span>
                              <div class="figure hours hours-1">
                                 <span class="top">2</span>
                                 <span class="top-back">
                                    <span>2</span>
                                 </span>
                                 <span class="bottom">2</span>
                                 <span class="bottom-back">
                                    <span>2</span>
                                 </span>
                              </div>

                              <div class="figure hours hours-2">
                                 <span class="top">4</span>
                                 <span class="top-back">
                                    <span>4</span>
                                 </span>
                                 <span class="bottom">4</span>
                                 <span class="bottom-back">
                                    <span>4</span>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <!---------Single-item--------->
                        <div class="col-lg-4 col-md-4 col-sm-12">
                           <div class="bloc-time min" data-init-value="0">
                              <span class="count-title">Minutes</span>

                              <div class="figure min min-1">
                                 <span class="top">0</span>
                                 <span class="top-back">
                                    <span>0</span>
                                 </span>
                                 <span class="bottom">0</span>
                                 <span class="bottom-back">
                                    <span>0</span>
                                 </span>
                              </div>

                              <div class="figure min min-2">
                                 <span class="top">0</span>
                                 <span class="top-back">
                                    <span>0</span>
                                 </span>
                                 <span class="bottom">0</span>
                                 <span class="bottom-back">
                                    <span>0</span>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <!---------Single-item--------->
                        <div class="col-lg-4 col-md-4 col-sm-12">
                           <div class="bloc-time sec" data-init-value="0">
                              <span class="count-title">Seconds</span>

                              <div class="figure sec sec-1">
                                 <span class="top">0</span>
                                 <span class="top-back">
                                    <span>0</span>
                                 </span>
                                 <span class="bottom">0</span>
                                 <span class="bottom-back">
                                    <span>0</span>
                                 </span>
                              </div>

                              <div class="figure sec sec-2">
                                 <span class="top">0</span>
                                 <span class="top-back">
                                    <span>0</span>
                                 </span>
                                 <span class="bottom">0</span>
                                 <span class="bottom-back">
                                    <span>0</span>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="content text-center">
               <div class="social-icon text center">
                  <h3>Follow us for update:
                  </h3>
                  <ul>
                     <li>
                        <a href="#"> <i class="fab fa-facebook-f"></i>
                        </a>
                     </li>
                     <li>
                        <a href="#"> <i class="fab fa-twitter"></i>
                        </a>
                     </li>
                     <li>
                        <a href="#"> <i class="fab fa-pinterest"></i>
                        </a>
                     </li>
                     <li>
                        <a href="#"> <i class="fab fa-linkedin"></i>
                        </a>
                     </li>
                  </ul>
               </div>
               <button class="default-btn-two mt-4">
                  <a href="index.html"> <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                     </span>
                     <span class="button-text">Go To Home</span></a>
               </button>
            </div>
         </div>
      </div>
      </section>

      <!------------End-coming-son-section---------------->

      <!-- jQuery Min JS -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.min.js"></script>
      <!-- Popper Min JS -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/popper.min.js"></script>
      <!-- Bootstrap Min JS -->

      <script src="https://cdn.shuqin.cc/shuqin/static/js/bootstrap.min.js"></script>
      <!-- MeanMenu JS  -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.meanmenu.js"></script>
      <!-- Appear Min JS -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.appear.min.js"></script>

      <script src="https://cdn.shuqin.cc/shuqin/static/js/tenmax.js"></script>
      <!-- Odometer Min JS -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/odometer.min.js"></script>
      <!-- Owl Carousel Min JS -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/owl.carousel.min.js"></script>
      <!-- Mixitup Min JS -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.mixitup.min.js"></script>
      <!-- WOW Min JS -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/wow.min.js"></script>
      <!-- Contact Form Validation -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/contact-validation.js"></script>
      <!-- Parallax Min JS -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/parallax.min.js"></script>
      <!-- Main JS -->
      <script src="https://cdn.shuqin.cc/shuqin/static/js/main.js"></script>
</body>

</html>