{{ define "copyright" }}
<div class="copyright-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 col-md-12">
        <p style="text-align: center">
          <i class="far fa-copyright"></i>
          2024-2025 数擎科技有限公司
          <span style="color: #a2a8b3">|</span>
          贵州省贵安新区湖潮乡贵阳大数据科创城数智中心B区1号楼165号
          <span style="color: #a2a8b3">|</span>
          黔ICP备2024035815号-3
        </p>
        <p style="text-align: center">
          <img
            width="{24}"
            height="{24}"
            src="https://cdn.shuqin.cc/xiaozhi/public/image/net-police.png"
            alt="贵公网安备"
          />
          <a
            target="_blank"
            href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=52990102000365"
            rel="noreferrer"
          >
            贵公网安备 52990102000365号
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{{ end}}
