{{ define "footer" }}
<footer>

    <section class="wideget-section">
        <div class="footer-subscribe-wrapper">
            <!-- Start Subscribe Area -->
            <div class="subscribe-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="subscribe-content">
                                <h2>订阅我们的电子报</h2>
                                <span class="sub-title"
                                >我们提供每月一期的科技资讯通讯，欢迎订阅查看。</span
                                >
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <form class="newsletter-form" id="subscribeForm">
                                <input
                                        type="email"
                                        class="input-newsletter"
                                        placeholder="请输入您的邮箱"
                                        name="email"
                                        id="subEmail"
                                        autocomplete="off"
                                />
                                <button type="submit">立即订阅</button>
                                <div id="validator-newsletter" class="form-result"></div>
                                <div class="subscribe-form-status">
                                    <p
                                            id="subscribeEmailStatus"
                                            class="formError text-white"
                                    ></p>
                                    <div id="subStatuseMessage"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-heading">
                            <h4>关于我们</h4>
                        </div>
                        <div class="single-footer">
                            <p>
                                本段为占位文本，展示公司简介部分。在这里可以简要描述公司的愿景、使命或服务优势。
                            </p>
                            <ul class="footer-social-icon">
                                <li>
                                    <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fab fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fab fa-linkedin"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-heading">
                            <h4>我们的服务</h4>
                        </div>
                        <div class="single-footer">
                            <ul class="footer-quick-links">
                                <li><a href="it-solution.html">IT 解决方案</a></li>
                                <li><a href="web-development.html">网站开发</a></li>
                                <li><a href="service.html">网络服务</a></li>
                                <li><a href="seo.html">SEO 优化</a></li>
                                <li><a href="seo.html">应用优化</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-heading">
                            <h4>关于我们</h4>
                        </div>
                        <div class="single-footer">
                            <ul class="footer-quick-links">
                                <li><a href="about.html">关于我们</a></li>
                                <li><a href="privacy-policy.html">案例研究</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                                <li><a href="privacy-policy.html">隐私政策</a></li>
                                <li><a href="terms-and-condition.html">条款与条件</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-heading">
                            <h4>联系信息</h4>
                        </div>
                        <div class="single-footer">
                            <div class="footer-info">
                                <div class="footer-info-contact">
                                    <div class="text">
                                        <div class="heading">
                                            <h3>电话</h3>
                                            <i class="fas fa-phone"></i>
                                        </div>

                                        <span><a href="tel:0851-88909600">0851-88909600</a></span>
                                    </div>
                                </div>
                                <br/>
                                <div class="footer-info-contact">
                                    <div class="text">
                                        <div class="heading">
                                            <i class="flaticon-envelope"></i>
                                            <h3>邮箱</h3>
                                        </div>
                                        <br/>
                                        <span
                                        ><a href="mailto:demo@example.com"
                                        >15992478448@164.com</a
                                        ></span
                                        >
                                    </div>
                                </div>
                                <br/>
                                <div class="footer-info-contact">
                                    <div class="text">
                                        <div class="heading text-center">
                                            <h3>地址</h3>
                                            <i class="fas fa-location-arrow"></i>
                                        </div>
                                        <br/>
                                        <span
                                        ><a href="#"
                                        >贵州省贵安新区湖潮乡贵阳大数据科创城数智中心B区1号楼165号</a
                                        ></span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <p style="text-align: center">
                        <i class="far fa-copyright"></i>
                        2024-2025 数擎科技有限公司
                        <span style="color: #a2a8b3">|</span>
                        贵州省贵安新区湖潮乡贵阳大数据科创城数智中心B区1号楼165号
                        <span style="color: #a2a8b3">|</span>
                        <a href="https://beian.miit.gov.cn/" target="_blank" rel="noreferrer">
                             黔ICP备2024035815号-3
                        </a>
                       
                    </p>
                    <p style="text-align: center">
                        <img
                                width="{24}"
                                height="{24}"
                                src="https://cdn.shuqin.cc/xiaozhi/public/image/net-police.png"
                                alt="贵公网安备"
                        />
                        <a
                                target="_blank"
                                href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=52990102000365"
                                rel="noreferrer"
                        >
                            贵公网安备 52990102000365号
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <!-- jQuery Min JS -->
    <script src="{{static "/js/jquery.min.js"}}"></script>
    <!-- Popper Min JS -->
    <script src="{{static "/js/popper.min.js"}}"></script>
    <!-- Bootstrap Min JS -->
    <script src="{{static "/js/bootstrap.min.js"}}"></script>
    <!-- MeanMenu JS  -->
    <script src="{{static "/js/jquery.meanmenu.js"}}"></script>
    <!-- Appear Min JS -->
    <script src="{{static "/js/jquery.appear.min.js"}}"></script>
    <!-- Odometer Min JS -->
    <script src="{{static "/js/odometer.min.js"}}"></script>
    <!-- Owl Carousel Min JS -->
    <script src="{{static "/js/owl.carousel.min.js"}}"></script>
    <!-- Mixitup Min JS -->
    <script src="{{static "/js/jquery.mixitup.min.js"}}"></script>
    <!-- WOW Min JS -->
    <script src="{{static "/js/wow.min.js"}}"></script>
    <!-- Contact Form Validation -->
    <script src="{{static "/js/contact-validation.js"}}"></script>
    <!-- Parallax Min JS -->
    <script src="{{static "/js/parallax.min.js"}}"></script>
    <!-- Main JS -->
    <script src="{{static "/js/main.js"}}"></script>
</footer>
{{ end }}
