
{{ define "footer" }}
<footer>
    <!-- jQuery Min JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/popper.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/bootstrap.min.js"></script>
    <!-- MeanMenu JS  -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.meanmenu.js"></script>
    <!-- Appear Min JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/odometer.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/owl.carousel.min.js"></script>
    <!-- Mixitup Min JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/jquery.mixitup.min.js"></script>
    <!-- WOW Min JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/wow.min.js"></script>
    <!-- Contact Form Validation -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/contact-validation.js"></script>
    <!-- Parallax Min JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/parallax.min.js"></script>
    <!-- Main JS -->
    <script src="https://cdn.shuqin.cc/shuqin/static/js/main.js"></script>
</footer>
{{ end }}
