
<!doctype html>
<html lang="en">

{{ template "header" . }}

<body>
   <!-- ***** Preloader Start ***** -->
   <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
         <span class="dot"></span>
         <div class="dots">
            <span></span>
            <span></span>
            <span></span>
         </div>
      </div>
   </div>
   <!-- ***** Preloader End ***** -->
   <!-- Start Navbar Area -->
   {{ template "navbar" . }}
   <!---- End Navbar Area ------->

   <!-- Start Main Banner Area -->
   <section class="main-banner">
      <div class="d-table">
         <div class="d-table-cell">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-12">
                     <div class="main-banner-content">
                        <h1 class="wow fadeInUp" data-wow-duration=".50s" data-wow-delay=".5s"> IT Solutions & Business
                           Services Company </h1>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Lorem ipsum dolor sit amet,
                           consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                           labore et dolore magna aliqua, magna aliqua. ipsum is simply dummy text of the printing.
                        </p>
                        <div class="banner-btn">
                           <button class="default-btn-two wow fadeInUp" data-wow-duration=".50s" data-wow-delay=".5s">
                              <a href="about.html"> <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                 </span>
                                 <span class="button-text">About Us</span></a>
                           </button>
                           <button class="default-btn-two wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                              <a href="contact.html"> <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                 </span>
                                 <span class="button-text">Contact Us</span></a>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 banner-item">
                     <div class="banner-image">
                        <img src="https://cdn.shuqin.cc/shuqin/static/img/banner.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" alt="main-image.png">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="banner-curve"></div>
   </section>
   <!-- End Main Banner Area -->

   <!---------------Start-services-area-------------------->
   <section id="services-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 offset-lg-3">
               <div class="section-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                  <h6>WHAT WE PROVIDE</h6>
                  <h1>IT Solutions</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et
                     dolore magna aliqua, magna aliqua. ipsum simply dummy text of the printing.</p>
               </div>
            </div>

            <!------------Start-item-01--------------->
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="services-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="icon">
                     <ul>
                        <li>
                           <a href="it-solution.html">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span class="main-icon fas fa-cogs"> </span>
                           </a>
                        </li>
                     </ul>
                  </div>

                  <div class="services-content">
                     <h3><a href="it-solution.html">IT Solution</a></h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt dolore magna aliqua!</p>
                     <a class="read-more" href="it-solution.html">Read More
                     </a>
                  </div>
               </div>
            </div>
            <!------------Start-item-02--------------->
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="services-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                  <div class="icon">
                     <ul>
                        <li>
                           <a href="web-development.html">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span class="main-icon fas fa-code"> </span>
                           </a>
                        </li>
                     </ul>
                  </div>

                  <div class="services-content">
                     <h3><a href="web-development.html">Web Development</a></h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt dolore magna aliqua!</p>
                     <a class="read-more" href="web-development.html">Read More</a>
                  </div>
               </div>
            </div>
            <!------------Start-item-03--------------->
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="services-item wow fadeInUp" data-wow-duration="1.50s" data-wow-delay="0s">
                  <div class="icon">
                     <ul>
                        <li>
                           <a href="it-solution.html">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span class="main-icon fas fa-wifi"> </span>
                           </a>
                        </li>
                     </ul>
                  </div>

                  <div class="services-content">
                     <h3><a href="it-solution.html">Networking Services</a></h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt dolore magna aliqua!</p>
                     <a class="read-more" href="it-solution.html">Read More</a>
                  </div>
               </div>
            </div>
            <!------------Start-item-04--------------->
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="services-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="icon">
                     <ul>
                        <li>
                           <a href="seo.html">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span class="main-icon fas fa-user-cog"> </span>
                           </a>
                        </li>
                     </ul>
                  </div>

                  <div class="services-content">
                     <h3><a href="seo.html">SEO Optimization</a></h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt dolore magna aliqua!</p>
                     <a class="read-more" href="seo.html">Read More</a>
                  </div>
               </div>
            </div>
            <!------------Start-item-05--------------->
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="services-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                  <div class="icon">
                     <ul>
                        <li>
                           <a href="web-development.html">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span class="main-icon fas fa-mobile-alt"> </span>

                           </a>
                        </li>
                     </ul>
                  </div>

                  <div class="services-content">
                     <h3><a href="web-development.html">App Optimization</a></h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt dolore magna aliqua!</p>
                     <a class="read-more" href="web-development.html">Read More</a>
                  </div>
               </div>
            </div>
            <!------------Start-item-06--------------->
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="services-item wow fadeInUp" data-wow-duration="1.50s" data-wow-delay="0s">
                  <div class="icon">
                     <ul>
                        <li>
                           <a href="seo.html">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span class="main-icon fas fa-network-wired"> </span>
                           </a>
                        </li>
                     </ul>
                  </div>

                  <div class="services-content">
                     <h3><a href="seo.html">Data Recovery</a></h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt dolore magna aliqua!</p>
                     <a class="read-more" href="seo-data.html">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!---------------End-services-area-------------------->

   <!---------------Start-About-area-------------------->
   <section id="about-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration=".50s" data-wow-delay=".50s">
               <div class="about-item">
                  <div class="about-content">
                     <h6>ABOUT OUR COMPANY</h6>
                     <h2>Providing your business with a quality IT service is our passion.</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua enim ad minim veniam, nostrud</p>
                  </div>
                  <div class="skills">
                     <div class="skill-single mb-30 wow fadeInRight" data-wow-delay=".0s">
                        <div class="resume-skill">
                           <!-- Resume Skill Single -->
                           <div class="resume-skill-single">
                              <span>IT Consulting</span>
                              <div class="progress">
                                 <div class="progress-bar wow fadeInLeftBig" role="progressbar" style="width: 98%"
                                    aria-valuenow="98" aria-valuemin="0" aria-valuemax="98" data-wow-duration=".6s"
                                    data-wow-delay=".5s">98%</div>
                              </div>
                           </div>
                           <!-- Resume Skill Single -->
                           <div class="resume-skill-single">
                              <span>Virtual Workstation</span>
                              <div class="progress">
                                 <div class="progress-bar wow fadeInLeftBig" role="progressbar" style="width: 95%"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" data-wow-duration=".8s"
                                    data-wow-delay=".6s">95%</div>
                              </div>
                           </div>
                           <!-- Resume Skill Single -->
                           <div class="resume-skill-single">
                              <span>Managed IT Service</span>
                              <div class="progress">
                                 <div class="progress-bar wow fadeInLeftBig" role="progressbar" style="width: 80%"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-wow-duration=".9s"
                                    data-wow-delay=".7s">80%</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="btn btn-lg mt-5">
                     <a href="about.html">Learn More</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
               <div class="about-item wow zoomIn">
                  <div class="about-img">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/about.jpg" alt="">
                     <div class="content">
                        <h1>36</h1>
                        <p>YEARS EXPERIENCE</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <!---------------End-About-area-------------------->

   <!---------------Start-overview-section-no-1------------------>
   <section class="overview-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
               <div class="overview-img">
                  <img src="https://cdn.shuqin.cc/shuqin/static/img/overview-1.png" alt="">
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
               <div class="overview-content">
                  <h6>WHY CHOOSE US?</h6>
                  <h1>Safeguard your brand with Cyber-Security & IT Solutions</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                     et dolore magna aliqua.</p>
                  <ul class="features-list">
                     <li><span>Remote It Assistance</span></li>
                     <li><span>Solving IT Problems</span></li>
                     <li><span>Practice IT Management</span></li>
                     <li><span>IT Security Services</span></li>
                     <li><span>Managed IT Service</span></li>
                     <li><span>Cloud Services</span></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!---------------End-overview-section------------------->

   <!---------------Start-overview-section-no-2------------------>
   <section class="overview-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
               <div class="overview-content">
                  <h6>WHY TRUST US?</h6>
                  <h1>Achieve digital transformation for your retail business services</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                     et dolore magna aliqua.</p>
                  <ul class="features-list">
                     <li><span>Protect your Business</span></li>
                     <li><span>Network Security</span></li>
                     <li><span>Data Security</span></li>
                     <li><span>Small Business Owners</span></li>
                     <li><span>Running your Business</span></li>
                     <li><span>Network Monitoring</span></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
               <div class="overview-img">
                  <img src="https://cdn.shuqin.cc/shuqin/static/img/overview-2.png" alt="">
               </div>
            </div>
         </div>
      </div>
   </section>
   <!---------------End-overview-section------------------->

   <!-------------------Ster-counter-section--------------->
   <section id="counter-section"
      style="background-image: url('https://cdn.shuqin.cc/shuqin/static/img/page-3.jpg');background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
      <div class="container">
         <div class="row text-center">
            <div class="col-lg-3 col-md-6 mb-30">
               <div class="counter-item-box">
                  <h1><span class="odometer" data-count="400">00</span><span class="sign-icon">+</span></h1>
                  <h5>Years Helping Business</h5>
               </div>
            </div>
            <div class="col-lg-3 col-md-6  mb-30">
               <div class="counter-item-box">
                  <h1><span class="odometer" data-count="700">00</span><span class="sign-icon">+</span></h1>
                  <h5>Employees</h5>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-30">
               <div class="counter-item-box">
                  <h1><span class="odometer" data-count="30">00</span>M<span class="sign-icon">+</span></h1>
                  <h5>Complete Projects</h5>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-30">
               <div class="counter-item-box">
                  <h1><span class="odometer" data-count="93">00</span>K<span class="sign-icon">+</span></h1>
                  <h5>5 Star Rating</h5>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-------------------End-counter-section--------------->

   <!------------ Start testimonial-section--------------->
   <section class="testimonial" id="testimonial">
      <div class="container">
         <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
               <div class="section-heading">
                  <h6>TESTIMONIAL</h6>
                  <h2>What Our Client Say</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et
                     dolore magna aliqua, magna aliqua. ipsum simply dummy text of the printing.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="testimonial-full owl-carousel owl-theme mt-5">
               <!----------- Single ----------->
               <div class="testimonial-item">
                  <div class="rating-box">
                     <ul>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                     </ul>
                  </div>
                  <div class="testimonial-content">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor ut labore et dolore
                        magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
                  </div>
                  <div class="avatar">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/avatar-2.jpg" alt="">
                  </div>
                  <div class="testimonial-bio mt-3">
                     <div class="bio-info">
                        <h3>Stevie Wills</h3>
                        <span>Business Man</span>
                     </div>
                  </div>
               </div>
               <!----------- Single ----------->
               <div class="testimonial-item">
                  <div class="rating-box">
                     <ul>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                     </ul>
                  </div>
                  <div class="testimonial-content">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor ut labore et dolore
                        magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
                  </div>
                  <div class="avatar">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/avtar-1.jpg" alt="">
                  </div>
                  <div class="testimonial-bio mt-3">
                     <div class="bio-info">
                        <h3>John Doe</h3>
                        <span>Business Man</span>
                     </div>
                  </div>
               </div>
               <!----------- Single ----------->
               <div class="testimonial-item">
                  <div class="rating-box">
                     <ul>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                     </ul>
                  </div>
                  <div class="testimonial-content">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor ut labore et dolore
                        magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
                  </div>
                  <div class="avatar">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/avatar-3.jpg" alt="">
                  </div>
                  <div class="testimonial-bio mt-3">
                     <div class="bio-info">
                        <h3>Zhara Khan</h3>
                        <span>Business Man</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-------------------- End testimonial-section ---------------------->


   <!-------------------- Start-team--section ---------------------->

   <section class="team-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 offset-lg-3">
               <div class="section-heading text-center">
                  <h6>Team Member</h6>
                  <h2>Expert Team</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et
                     dolore magna aliqua, magna aliqua. ipsum simply dummy text of the printing.</p>
               </div>
            </div>
            <div class="col-lg-4 col-md-6">
               <div class="single-team-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="team-image">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/team/1.jpg" alt="team" />
                  </div>
                  <div class="team-info">
                     <h3>Melina</h3>
                     <h5>Designer</h5>
                     <div class="team-social-icon">
                        <a href="#"><i aria-hidden="true" class="fab fa-facebook-f"></i></a>
                        <a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a>
                        <a href="#"> <i aria-hidden="true" class="fab fa-linkedin-in"></i></a>
                     </div>
                  </div>
               </div>
            </div>
            <!------- single----- -->
            <div class="col-lg-4 col-md-6">
               <div class="single-team-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="team-image">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/team/2.jpg" alt="team" />
                  </div>
                  <div class="team-info">
                     <h3>John Willims</h3>
                     <h5>Manager</h5>
                     <div class="team-social-icon">
                        <a href="#"><i aria-hidden="true" class="fab fa-facebook-f"></i></a>
                        <a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a>
                        <a href="#"> <i aria-hidden="true" class="fab fa-linkedin-in"></i></a>
                     </div>
                  </div>
               </div>
            </div>
            <!------- single----- -->
            <div class="col-lg-4 col-md-6">
               <div class="single-team-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="team-image">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/team/3.jpg" alt="team" />
                  </div>
                  <div class="team-info">
                     <h3>Mr.Rahman</h3>
                     <h5>Developer</h5>
                     <div class="team-social-icon">
                        <a href="#"><i aria-hidden="true" class="fab fa-facebook-f"></i></a>
                        <a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a>
                        <a href="#"> <i aria-hidden="true" class="fab fa-linkedin-in"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-------------------- End-team--section ------------------------>


   <!-------------------- Start-blog-section ------------------------>
   <section class="blog-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 offset-lg-3">
               <div class="section-heading text-center">
                  <h6>BLOG&ARTICLE</h6>
                  <h2>Recent Blog</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et
                     dolore magna aliqua, magna aliqua. ipsum simply dummy text of the printing.</p>
               </div>
            </div>
            <!-----------Single---------->
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="blog-item wow fadeInLeft" data-wow-duration=".5s">
                  <div class="blog-img">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/blog/1.jpg" alt="Blog-img">
                  </div>
                  <div class="single-blog-item">
                     <div class="blog-icon mt-1">
                        <ul>
                           <li><a href="#"><i class="fas fa-user"></i> Author</a></li>
                           <li><a href="#"><i class="fas fa-calendar"></i> 17 March,2021</a></li>
                        </ul>
                     </div>
                     <div class="blog-content">
                        <div class="blog-heading">
                           <h5><a href="single.html">Planning for a Safe Return to the Workplace IT Solutions</a></h5>
                           <p>Lorem ipsum dolor sit amet, conse adipiscing elit, sed eiusmod tempor incididunt
                           </p>
                           <div class="btn">
                              <a href="single.html">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-----------Single---------->
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="blog-item wow fadeInUp" data-wow-duration=".5s">
                  <div class="blog-img">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/blog/2.jpg" alt="Blog-img">
                  </div>
                  <div class="single-blog-item">
                     <div class="blog-icon mt-1">
                        <ul>
                           <li><a href="#"><i class="fas fa-user"></i> Author</a></li>
                           <li><a href="#"><i class="fas fa-calendar"></i> 17 March,2021</a></li>
                        </ul>
                     </div>
                     <div class="blog-content">
                        <div class="blog-heading">
                           <h5><a href="single.html">Announcing Our New Smiles for Success Charity </a></h5>
                           <p>Lorem ipsum dolor sit amet, conse adipiscing elit, sed eiusmod tempor incididunt
                           </p>
                           <div class="btn">
                              <a href="single.html">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-----------Single---------->
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="blog-item wow fadeInRight" data-wow-duration=".5s">
                  <div class="blog-img">
                     <img src="https://cdn.shuqin.cc/shuqin/static/img/blog/3.jpg" alt="Blog-img">
                  </div>
                  <div class="single-blog-item">
                     <div class="blog-icon mt-1">
                        <ul>
                           <li><a href="#"><i class="fas fa-user"></i> Author</a></li>
                           <li><a href="#"><i class="fas fa-calendar"></i> 17 March,2021</a></li>
                        </ul>
                     </div>
                     <div class="blog-content">
                        <div class="blog-heading">
                           <h5><a href="single.html">Machine Learning Applications for Every Industry</a></h5>
                           <p>Lorem ipsum dolor sit amet, conse adipiscing elit, sed eiusmod tempor incididunt
                           </p>
                           <div class="btn">
                              <a href="single.html">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>


   <!-------------------- End-blog--section ------------------------>
   <!-------------------- Start-hire-section ------------------------>
   <section class="hire-section" style="background-image: url(https://cdn.shuqin.cc/shuqin/static/img/page-3.jpg);">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12">
               <div class="hire-content">
                  <h6>Want to work with us?</h6>
                  <h2>Digitally transform and grow your business!</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                     et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud consectetur voluptatem accusantium
                     doloremque adipiscing elit.</p>
                  <div class="hire-btn button">
                     <button class="default-btn-two mt-4">
                        <a href="tel:080223687"> <span class="circle" aria-hidden="true">
                              <span class="icon arrow"></span>
                           </span>
                           <span class="button-text">Call Now</span></a>
                     </button>
                     <button class="default-btn-two mt-4">
                        <a href="contact.html"> <span class="circle" aria-hidden="true">
                              <span class="icon arrow"></span>
                           </span>
                           <span class="button-text">Contact Us</span></a>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <!-------------------- End-hire-section ------------------------>
   <!-------------------- Start-partner-section --------------------->
   <section class="partner-section" id="partner">
      <div class="container">
         <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
               <div class="section-heading">
                  <h6>Trusted By Over 60,000</h6>
                  <h2>Our Customers</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et
                     dolore magna aliqua, magna aliqua. ipsum simply dummy text of the printing.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="partner-full owl-carousel owl-theme mt-5">
               <div class="partner-item">
                  <a href="#"><img src="https://cdn.shuqin.cc/shuqin/static/img/partner-img/2.png" alt=""></a>
               </div>
               <div class="partner-item">
                  <a href="#"><img src="https://cdn.shuqin.cc/shuqin/static/img/partner-img/3.png" alt=""></a>
               </div>
               <div class="partner-item">
                  <a href="#"><img src="https://cdn.shuqin.cc/shuqin/static/img/partner-img/4.png" alt=""></a>
               </div>
               <div class="partner-item">
                  <a href="#"><img src="https://cdn.shuqin.cc/shuqin/static/img/partner-img/5.png" alt=""></a>
               </div>
               <div class="partner-item">
                  <a href="#"><img src="https://cdn.shuqin.cc/shuqin/static/img/partner-img/6.png" alt=""></a>
               </div>
               <div class="partner-item">
                  <a href="#"><img src="https://cdn.shuqin.cc/shuqin/static/img/partner-img/7.png" alt=""></a>
               </div>
               <div class="partner-item">
                  <a href="#"><img src="https://cdn.shuqin.cc/shuqin/static/img/partner-img/8.png" alt=""></a>
               </div>
               <div class="partner-item">
                  <a href="#"><img src="https://cdn.shuqin.cc/shuqin/static/img/partner-img/9.png" alt=""></a>
               </div>
               <div class="partner-item">
                  <a href="#"><img src="https://cdn.shuqin.cc/shuqin/static/img/partner-img/1.png" alt=""></a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-------------------- End-partner-section ------------------------>

   <!-------------------- Start-wideget-section ------------------------>
   <section class="wideget-section">
      <div class="footer-subscribe-wrapper">
         <!-- Start Subscribe Area -->
         <div class="subscribe-area">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                     <div class="subscribe-content">
                        <h2>Sign Up Our Newsletter</h2>
                        <span class="sub-title">We Offer An Informative Monthly Technology Newsletter - Check It
                           Out.</span>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                     <form class="newsletter-form" id="subscribeForm">
                        <input type="email" class="input-newsletter" placeholder="Enter your email" name="email"
                           id="subEmail" autocomplete="off">
                        <button type="submit">Subscribe Now</button>
                        <div id="validator-newsletter" class="form-result"></div>
                        <div class="subscribe-form-status">
                           <p id="subscribeEmailStatus" class="formError text-white"></p>
                           <div id="subStatuseMessage"></div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="main-footer-area">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="footer-heading">
                     <h4>About Us</h4>
                  </div>
                  <div class="single-footer">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...</p>
                     <ul class="footer-social-icon">
                        <li>
                           <a href="#"> <i class="fab fa-facebook-f"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#"> <i class="fab fa-twitter"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#"> <i class="fab fa-pinterest"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#"> <i class="fab fa-linkedin"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>

               <div class="col-lg-2 col-md-6 col-sm-12">
                  <div class="footer-heading">
                     <h4>Our Services</h4>
                  </div>
                  <div class="single-footer">
                     <ul class="footer-quick-links">
                        <li> <a href="it-solution.html">IT Solution</a></li>
                        <li> <a href="web-development.html">Web Development</a></li>
                        <li> <a href="service.html">Net-Services</a></li>
                        <li> <a href="seo.html">SEO Optimization</a></li>
                        <li> <a href="seo.html">App Optimization</a></li>
                     </ul>
                  </div>
               </div>

               <div class="col-lg-2 col-md-6 col-sm-12">
                  <div class="footer-heading">
                     <h4>Useful Links</h4>
                  </div>
                  <div class="single-footer">
                     <ul class="footer-quick-links">
                        <li> <a href="about.html">About Us</a></li>
                        <li> <a href="privacy-policy.html">Case Study</a></li>
                        <li> <a href="contact.html">Contact Us</a></li>
                        <li> <a href="privacy-policy.html">Privacy Policy</a></li>
                        <li> <a href="terms-and-condition.html">Terms & Conditions</a></li>
                     </ul>
                  </div>
               </div>

               <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="footer-heading">
                     <h4>Contact Info</h4>
                  </div>
                  <div class="single-footer">
                     <div class="footer-info">
                        <div class="footer-info-contact">
                           <div class="text">
                              <div class="heading">
                                 <h3>Phone</h3>
                                 <i class="fas fa-phone"></i>
                              </div>
                              <br>
                              <span><a href="tel:0802235678">080 707 555-321</a></span>
                           </div>
                        </div>
                        <br>
                        <div class="footer-info-contact">

                           <div class="text">
                              <div class="heading">
                                 <i class="flaticon-envelope"></i>
                                 <h3>Email</h3>
                              </div>
                              <br>
                              <span><a href="mailto:demo@example.com">demo@example.com</a></span>
                           </div>
                        </div>
                        <br>
                        <div class="footer-info-contact">
                           <div class="text">
                              <div class="heading text-center">
                                 <h3>Address</h3>

                                 <i class="fas fa-location-arrow"></i>
                              </div>
                              <br>
                              <span><a href="#">526 Melrose Street, Water Mill, 11976 New York</a></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-------------------- End-wideget-section ------------------------>
   <!------------- Start Copy Right Section--------------------->
   {{ template "copyright" . }}
   <!---------------End Copy Right Section ----------------------->

   <!-- Start Go Top Section -->
   <div class="go-top">
      <i class="fas fa-chevron-up"></i>
      <i class="fas fa-chevron-up"></i>
   </div>
   <!-- End Go Top Section -->
   {{ template "footer" . }}
</body>

</html>