{{ define "navbar" }}
<section class="navbar-area">
    <div class="codepopular-responsive-nav">
        <div class="container">
            <div class="codepopular-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="https://cdn.shuqin.cc/shuqin/static/img/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="codepopular-nav bg-white">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="https://cdn.shuqin.cc/shuqin/static/img/logo.png" alt="logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">首页 <i class="fas fa-chevron-down"></i></a>

                        </li>

                       
                        <li class="nav-item">
                            <a href="service.html" class="nav-link">Services <i class="fas fa-chevron-down"></i></a>
                            <ul class="mega-menu dropdown-menu">
                                <li>
                                    <a href="web-development.html">
                                        <span class="mega-icon"><i class="fas fa-laptop-code"></i></span>
                                        <div class="mega-content">
                                            <h3 class="title">Web Developemnt</h3>
                                            <p>We provide end-to-end maintenance services to help</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="web-development.html">
                                        <span class="mega-icon"><i class="fas fa-cart-plus"></i></span>
                                        <div class="mega-content">
                                            <h3 class="title">Woocommerce Website</h3>
                                            <p>We provide end-to-end maintenance services to help</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="web-development.html">
                                        <span class="mega-icon"><i class="fas fa-pencil-ruler"></i></span>
                                        <div class="mega-content">
                                            <h3 class="title">UI/UX Design</h3>
                                            <p>We provide end-to-end maintenance services to help</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="seo.html">
                                        <span class="mega-icon"><i class="fas fa-gamepad"></i></span>
                                        <div class="mega-content">
                                            <h3 class="title">Mobile Games</h3>
                                            <p>We provide end-to-end maintenance services to help</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="seo.html">
                                        <span class="mega-icon"><i class="fas fa-layer-group"></i></span>
                                        <div class="mega-content">
                                            <h3 class="title">Digital cart script</h3>
                                            <p>We provide end-to-end maintenance services to help</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="web-development.html">
                                        <span class="mega-icon"><i class="fab fa-apple"></i></span>
                                        <div class="mega-content">
                                            <h3 class="title">Mobile App Development</h3>
                                            <p>We provide end-to-end maintenance services to help</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="it-solution.html">
                                        <span class="mega-icon"><i class="fab fa-sketch"></i></span>
                                        <div class="mega-content">
                                            <h3 class="title">Unlimited theme addons</h3>
                                            <p>We provide end-to-end maintenance services to help</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="web-development.html">
                                        <span class="mega-icon"><i class="fab fa-app-store"></i></span>
                                        <div class="mega-content">
                                            <h3 class="title">Dostart theme</h3>
                                            <p>We provide end-to-end maintenance services to help</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="seo.html">
                                        <span class="mega-icon"><i class="fab fa-accusoft"></i></span>
                                        <div class="mega-content">
                                            <h3 class="title">Web Design</h3>
                                            <p>We provide end-to-end maintenance services to help</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                         <li class="nav-item">
                            <a href="blog.html">Blog <i class="fas fa-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-right.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-fullwidth.html">Blog FullWidth</a></li>
                                <li><a href="single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#">Page <i class="fas fa-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="team.html">Team</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="404.html">404 Error</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="it-solution.html">Service Single</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy </a></li>
                                <li><a href="terms-and-condition.html">Terms & Conditions</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="project.html" class="nav-link">Project <i class="fas fa-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="project.html">Project</a></li>
                                <li><a href="project-details.html">Projects Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link">关于我们</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact" class="nav-link">联系我们</a>
                        </li>
                    </ul>
            </nav>
        </div>
    </div>
</section>
{{ end }}